.login-container {
    display: flex;
    height: 100vh;
    background-color: #2e2e2e;
  }
  
  .login-left {
    flex: 1;
    background: #fff;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }
  
  .login-header {
    position: absolute;
    top: 20px;
    left: 40px;
    display: flex;
    align-items: center;
    z-index: 10;
  }
  
  .logo {
    width: 120px;
    height: auto;
    margin-right: 0;
  }
  
  .login-content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: black;
    margin-top: -10px;
  }
  
  .login-content p {
    color: black;
    margin-bottom: 2rem;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-wrapper {
    position: relative;
    margin-bottom: 1.2rem;
  }
  
  .input-wrapper input {
    width: 100%;
    padding: 18px 40px 18px 16px;
    border: none;
    border-radius: 10px;
    color: black;
    background-color: #f2f2f2;
    font-size: 1.0rem;
  }
  
  .input-wrapper .icon {
    position: absolute;
    font-size: 1.3rem;
    right: -30px;
    top: 50%;
    transform: translateY(-40%);
    cursor: pointer;
    pointer-events: auto;
    color: #999;
  }
  
  .form-footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
  }
  
  .form-footer a {
    font-size: 0.8rem;
    color: #999;
    text-decoration: none;
  }
  
  .login-button {
    background-color: orange;
    border: none;
    padding: 12px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .signup-text {
    font-size: 0.85rem;
    text-align: center;
    color: #999;
  }
  
  .signup-text a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }
  
  .login-right img {
    max-width: 90%;
    right: 10px;
    border-radius: 20px;
    margin-top: -60px
  }

  .error-message {
    color: red;
    font-size: 0.85rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  